

.title{
    color: hotpink;
    width: 315px;
    height: 50px;
    background-color: teal;
}

label{
    background-color: tomato;
    width: 315px;
    height: 50px;
}

input{
    background-color: aqua;
    width: 315px;
    height: 50px;
}

button{
    background-color: purple;
    width: 315px;
    height: 50px;
}
