@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');


body{
    font-family: "Pixelify Sans", sans-serif;
    background-color: #FDEDED;
}

#seleccionar-mascota{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#seleccionar-ataque{
    display: flex;
}

.title{
    width: 400px;
    height: 50px;
    font-size: 45px;
    align-content: center;
    justify-content: center;
}

#boton-mascota{
    width: 200px;
    height: 50px;
    border-radius: 20px;
    background: transparent;
    border: 5px solid teal;
    font-family: "Pixelify Sans", sans-serif;
}


.tarjeta-de-mokepon{
    width: 200px;
    height: 100px;
    padding: 10px;
    box-sizing: border-box;
    background-color: #EDFFF0;
    margin: 10px;
    border: 5px solid teal;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tarjeta-de-mokepon img{
    width: 80px;
}

input{
    display: none
}

.tarjetas{
    display: flex;
}
